<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi erat, molestie ac lacus sed, venenatis posuere magna. Proin fermentum venenatis dolor tempus vulputate. Fusce turpis tellus, laoreet nec dapibus vehicula, ornare vitae orci. Phasellus dolor sapien, pellentesque a lacus vitae, feugiat mattis mauris. Vivamus mi quam, lobortis at consequat in, venenatis at tellus. Suspendisse faucibus felis sed purus aliquam, ut hendrerit justo ornare. Proin eros est, tincidunt id varius et, auctor a dolor. Morbi interdum mi a pellentesque aliquet. Donec rhoncus auctor neque nec dignissim. Quisque posuere vulputate elit vel feugiat. Curabitur semper sed lorem quis venenatis. Ut nec ultrices tellus.
</p>