<% provide(:title, "Home") %>
<% if logged_in? %>
<div class="row">
	<div class="span2">
		<%= @current_user.name %>
	</div>
	<div class="span8">
		<%= link_to "Your events", current_user %>
	</div>
</div>
<% else %>
<div class="center jumbotron">
  <h1>CostShare</h1>

  <p>A way to split costs among a group</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>