<tr>
  
  <td><%= payment.transaction_date.to_date %></td>
  <td><%= payment.amount.round(2) %></td>
  <td><%= payment.description %></td>
  <td><%= @event.users.find(payment.user_id).name %></td>
  <td></td>
</tr>